.listagem{
    max-width:200px;
}

.listagem .pokemon{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color:#6b727a;
    color:#FFFFFF;
    padding: 0 5px;
    cursor:pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    min-height:70px;
    box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition:0.15s ease-in-out; /*tempo da transição e o tipo de animação*/
}

.listagem .pokemon:hover{
    transform: scale(1.05); /*essa propriedade quando eu passar o mouse em cima, vai transformar e nesse caso usei o scale (que basicamente aumenta quando eu passar em cima)*/
}

.listagem .pokemon img{
    width:25%;
    border-radius:50%;
}

.listagem .pokemon span{
    padding-right:20px;
}

.listagem .pokemon.ativo{
    background-color:#fa6668;
}
